.addPost-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-input {
  width: 80vw;
  height: 2rem;
  margin: 1rem;
}

.description {
    height: 50rem;
}

.create-button{
    width: 5rem;
    height: 2rem;
}