.editPost-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-body-edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-input-edit {
  width: 80vw;
  height: 2rem;
  margin: 1rem;
}

.description {
  height: 50rem;
}

.edit-button {
  width: 10rem;
  height: 3rem;
  margin-right: 2rem;
}

.delete-button {
  width: 10rem;
  height: 3rem;
}
