.header {
  /* background-color: rgb(129,52,175); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.insta-button {
  font-size: 1.5rem;
  margin-left: 2rem;
  color: rgb(221, 42, 123);
  background-color: white;
  border: 0;
}

.insta-button:hover {
    color: rgb(81,91,212);
    cursor: pointer;
}


.search-bar {
  height: 2rem;
  width: 25rem;
  text-align: center;
}

.header-button {
  width: 5rem;
  height: 2rem;
  margin-right: 1rem;
}
